<%= render 'shared/header' %>
<div id="content">
  <h2>Come play with us!</h2>

  <p class="game-introduction">
  Have you ever played Gama Game? It's a game of general knowledge questions and answers.
  It used to be played at #gamagame, an IRC(Internet Relay Chat) channel in the Brasnet network, which no longer exists.
  </p>

  <%= link_to('Start', '#', class: 'btn-start') %>
</div>
<%= render 'shared/footer' %>
